
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1476258725'); /* IE9*/
  src: url('iconfont.eot?t=1476258725#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1476258725') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1476258725') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1476258725#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  display:inline-block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-jianpan:before { content: "\e600"; }
.icon-jianpan1:before { content: "\e601"; }
.icon-iconfontcolor82:before { content: "\e602"; }
.icon-iconfont71:before { content: "\e603"; }
.icon-tab:before { content: "\e604"; }
.icon-shoushi:before { content: "\e605"; }
.icon-arrowsalt:before { content: "\e606"; }
.icon-yidong:before { content: "\e607"; }
.icon-tab1:before { content: "\e608"; }
.icon-shoushituodong:before { content: "\e609"; }
.icon-shoushituodong0:before { content: "\e60a"; }
.icon-shoushixiangyouhuadong0:before { content: "\e60b"; }
.icon-shoushi1:before { content: "\e60c"; }
.icon-iconfonttaskalt:before { content: "\e60d"; }
.icon-xiangshanghuadongshoushi:before { content: "\e60e"; }
.icon-enlargealt:before { content: "\e60f"; }
.icon-move:before { content: "\e610"; }
.icon-shoushizuoyouhuadong:before { content: "\e611"; }
.icon-tab2:before { content: "\e612"; }
.icon-drag:before { content: "\e613"; }
.icon-jianpan2:before { content: "\e614"; }
.icon-iconfontfillet:before { content: "\e615"; }
.icon-alt:before { content: "\e616"; }
.icon-tab3:before { content: "\e617"; }
.icon-ctrl:before { content: "\e618"; }
.icon-esc:before { content: "\e619"; }
.icon-mouse:before { content: "\e61a"; }
.icon-mouse1:before { content: "\e61b"; }
.icon-mouse2:before { content: "\e61c"; }
.icon-mouse3:before { content: "\e61d"; }
