{extend name="common@public/base"/}
{block name="body"}
<section class="content-header">
  <h1>{$meta_title}<small></small></h1>
  <ol class="breadcrumb">
    <li><a href="{:url('admin/index/index')}"><i class="fa fa-dashboard"></i> {:lang('console')}</a></li>
        {volist name="__menu__['parent']" id="pitem"}
            <li class="{$pitem.action}">{if condition="$pitem.action eq ''"}<a href="{$pitem.url|url}" > {$pitem.title}</a>{else/} {$pitem.title}{/if}</li>
        {/volist}
  </ol>
</section>
<section class="content">
<div class="box box-solid clearfix">
	<header class="box-header clearfix">
		<div class="pull-left">
			<a href="{:url('customer/customer_add')}" class="btn btn-primary">{:lang('add')}</a>
		</div>
	</header>
	<div class="box-body clearfix">
		<div class="table-responsive">
			<table class="table user-list table-hover">
				<thead>
					<tr>
						<th><span>{:lang('id')}</span></th>
						<th><span>{:lang('name')}</span></th>
                        <th><span>{:lang('email')}</span></th>
                        <th><span>{:lang('telephone')}</span></th>
                        <th><span>{:lang('address')}</span></th>
                        <th><span>{:lang('level')}</span></th>
						<th>{:lang('creation_time')}</th>
                        <th>{:lang('state')}</th>
                        <th>{:lang('operation')}</th>
					</tr>
				</thead>
				<tbody>
					{volist name="list" id="vo"}
					<tr>
						<td><span class="user-subhead">{$vo['id']}</span></td>
						<td><span >{$vo['name']}</span></td>
                        <td><span >{$vo['email']}</span></td>
                        <td><span >{$vo['telephone']}</span></td>
                        <td><span >{$vo['address']}</span></td>
                        <td><span >{$vo['level']}</span>
                        </td>
                        <td><span >{$vo['creation_time']|date='Y-m-d',###}</span></td>
                         <td><span >{if $vo['status']}
                                    <span class="label label-success">{:lang('enable')}</span>
                                    {else/}
                                    <span class="label label-danger">{:lang('disable')}</span>
                                    {/if}</span>
                        </td> 
						<td>
                        	<a href="{:url('customer/customer_edit',array('id'=>$vo['id']))}" class="table-link" title="">{:lang('edit')}</a>
                            <a href="{:url('customer/customer_del',array('id'=>$vo['id']))}" class="table-link confirm ajax-get">{:lang('delete')}</a>
						</td>
					</tr>
					{/volist}
				</tbody>
			</table>
			{$page}
		</div>
	</div>
</div>
</section>
{/block}
{block name="script"}
{/block}