<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"/>
<title>{$meta_title}- {:config('systemconfig.site_title') ?: config('site_title')}</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
<link rel="stylesheet" href="__PUBLIC__/adminlte/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="__PUBLIC__/adminlte/dist/css/AdminLTE.min.css">
<link rel="stylesheet" href="__PUBLIC__/adminlte/dist/css/skins/_all-skins.min.css">
<link rel="stylesheet" href="__PUBLIC__/adminlte/font-awesome/4.5.0/css/font-awesome.min.css">
<link rel="stylesheet" href="__PUBLIC__/adminlte/qinfoicon/iconfont.css">
<link rel="stylesheet" href="__PUBLIC__/adminlte/hui-iconfont/iconfont.css">
<link rel="stylesheet" href="__PUBLIC__/adminlte/plugins/select2/select2.min.css">
<link rel="stylesheet" href="__PUBLIC__/adminlte/plugins/iCheck/all.css">
<link rel="stylesheet" href="__PUBLIC__/adminlte/plugins/datepicker/datepicker3.css">
<link rel="stylesheet" href="__PUBLIC__/adminlte/plugins/daterangepicker/daterangepicker.css">
<link rel="stylesheet" href="__PUBLIC__/adminlte/plugins/bootstrap-slider/bootstrap-slider.css">
{block name="style"}{/block}
<link rel="shortcut icon" type="image/ico" href="/favicon.ico">
<script src="__PUBLIC__/adminlte/plugins/jQuery/jquery-2.2.3.min.js"></script>
<!--[if lt IE 9]>
<script src="__PUBLIC__/adminlte/html5shiv/3.7.3/html5shiv.min.js"></script>
<script src="__PUBLIC__/adminlte/respond/1.4.2/respond.min.js"></script>
<![endif]-->
<script type="text/javascript">
	var BASE_URL = "{:config('base_url')}"; //根目录地址
	var base_lang = "{:config('default_lang')}"; //语言包
</script>
</head>  
<body class="hold-transition">
<div class="wrapper"> 
  <!-- Content Wrapper. Contains page content -->
  <section class="content">
  <div class="box box-solid clearfix">
  	{block name="body"}{/block}
  </div>
  </section>
</div>
<script src="__PUBLIC__/adminlte/bootstrap/js/bootstrap.min.js"></script>
<script src="__PUBLIC__/adminlte/plugins/bootstrap-slider/bootstrap-slider.js"></script>
<script src="__PUBLIC__/adminlte/plugins/datepicker/bootstrap-datepicker.js"></script>
<script src="__PUBLIC__/adminlte/plugins/timepicker/bootstrap-timepicker.min.js"></script>
<script src="__PUBLIC__/adminlte/plugins/iCheck/icheck.min.js"></script>
<script src="__PUBLIC__/adminlte/plugins/select2/select2.full.min.js"></script>
<script src="__PUBLIC__/adminlte/plugins/moment/2.11.2/moment.min.js"></script>
<script src="__PUBLIC__/adminlte/plugins/daterangepicker/daterangepicker.js"></script>
<script src="__PUBLIC__/adminlte/plugins/slimScroll/jquery.slimscroll.min.js"></script>
<script src="__PUBLIC__/adminlte/plugins/fastclick/fastclick.js"></script>
<script src="__PUBLIC__/adminlte/dist/js/app.min.js"></script>
<script src="__PUBLIC__/adminlte/plugins/hopscotch/hopscotch.js"></script>
<script src="__PUBLIC__/adminlte/plugins/messager/messager.js"></script>
<script src="__PUBLIC__/adminlte/plugins/layer/2.4/layer.js"></script>
<script src="__PUBLIC__/adminlte/dist/js/pace.min.js"></script>
<script src="__PUBLIC__/adminlte/dist/lang/{:config('default_lang')}.js"></script>
<script type="text/javascript">
(function(){
	var QinfoCMS = window.Qinfo = {
		"ROOT"   : "__ROOT__", //当前网站地址
		"APP"    : "__APP__", //当前项目地址
		"PUBLIC" : "__PUBLIC__", //项目公共目录地址
		"DEEP"   : "{:config('URL_PATHINFO_DEPR')}", //PATHINFO分割符
		"MODEL"  : ["{:config('URL_MODEL')}", "{:config('URL_CASE_INSENSITIVE')}", "{:config('URL_HTML_SUFFIX')}"],
		"VAR"    : ["{:config('VAR_MODULE')}", "{:config('VAR_CONTROLLER')}", "{:config('VAR_ACTION')}"],
		"MID" : "{:is_login()}", //项目公共目录地址
	}
})();
</script>
<script src="__PUBLIC__/adminlte/dist/js/core.js"></script>
{block name="script"}{/block}
</body>
</html>