{extend name="public/base"/}
{block name="style"}
<link rel="stylesheet" type="text/css" href="__CSS__/oscloud.css">
<link href="__STATIC__/ext/foucs/foucs.css" rel="stylesheet" type="text/css"/>
{/block}
{block name="body"}
<div id="main-container" class="container">
  <div class="row" style="padding-top: 20px;margin-top: 30px">
    <div class="clearfix"  >
      <div class="col-xs-12">
        <div class="common-block">
          <div class="col-xs-12">
            <div class="article">
             <div id="timeline"> 
                    <div class="item">
                        <div class="content">
                        	<h2 class="clearfix">动态</h2>   
                        	<div class="row">
                             {volist name="feed_data" id="item"}
                             <div class="col-xs-6" style="">
                                <div class="clearfix" style="border-bottom: 1px solid #eee; height:140px; padding-top:10px; overflow:hidden">
    
                                    <div class="pull-left col-xs-3">
                                        <img src="{:get_thumb($item.cover_id,200,200)}" style="width: 90px;height: 90px;border-radius: 3px">
                                    </div>
                                    <div class="pull-right col-xs-9">
                                        <div style="font-weight:bold; font-size:16px">
                                            <a href="{:url('goods/index/feed_detail',array('id'=>$item['id']))}" title="{$item['title']}">{$item['title']|msubstr=0,20}</a>
                                        </div>
                                        <p>{$item['summary']|msubstr=0,50} </p>
                                        <p class="pull-right">发布于： {$item['create_time']|date='Y-m-d H:i:s',###}</p>
                                    </div>
                                </div>
                            </div>
                            {/volist}
                            </div>
                            <div class="clearfix">{$page}</div>   
                        </div>
                    </div>
                </div>
            </div>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </div>
</div>
{/block}
{block name="script"}
{/block}