{extend name="public/base"/}
{block name="style"}
<link rel="stylesheet" type="text/css" href="__CSS__/oscloud.css">
<link href="__STATIC__/ext/foucs/foucs.css" rel="stylesheet" type="text/css"/>
{/block}
{block name="body"}
<div id="main-container" class="container">
  <div class="row" style="padding-top: 20px;margin-top: 30px">
    <div class="clearfix"  >
      <div class="col-xs-12">
        <div class="common-block">
          <div class="col-xs-12">
            <article class="article">
              <header>
                <h1 class="text-center">{$feed_detail['title']}</h1>
                <p class="text-center">{$feed_detail['create_time']|date='Y-m-d H:i:s',###}</p>
                <dl class="dl-inline" style="position: relative">
                  <dt>摘要：</dt>
                  <dd> {$feed_detail['summary']} </dd>
                </dl>
              </header>
              <div class="article-content">
                <div class="tem_line_1 plug_item">
                  <div class=""> {$feed_detail['content']} </div>
                </div>
              </div>
            </article>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </div>
</div>
{/block}
{block name="script"}
{/block}