 {extend name="public/base"/}
{block name="style"}
<link rel="stylesheet" type="text/css" href="__CSS__/oscloud.css">
<link href="__STATIC__/ext/foucs/foucs.css" rel="stylesheet" type="text/css"/>
{/block}
{block name="body"}
<div id="main-container" class="container">
  <div class="row" style="padding-top: 20px;margin-top: 30px">
    <div class="clearfix">
      <div class="col-xs-12">
        <div >
          <div class="common-block" style="height: 130px;margin-bottom: 10px">
            <div style="margin-left:20px;padding-top:5px;">
              <h3><strong>{$title}</strong></h3>
              <p>{$summary}</p>
              <div> <a class="btn btn-warning" href="javascript:"><i class="icon-file-text"></i> 开发手册</a> &nbsp; &nbsp; <a class="btn btn-success" href="javascript:">+
                授权说明</a> </div>
            </div>
          </div>
          <div class="common-block templet">
            <section>
              <div class="clearfix goods-list"> {volist name="app_module" id="item"}
                <div style=" border-bottom:1px #ccc solid; margin-top:15px; padding-bottom:15px">
                  <div class="clearfix">
                    <div style="width: 110px;float: left"><a href="{:url('goods/index/goodsdetail',array('id'=>$item['id']))}"  class="app_icon"><img style="width: 105px;height: 105px" src="{:get_thumb($item.cover_id,200,200)}"> </a></div>
                    <div class="col-xs-3" style="width:350px;">
                      <h3 class="margin-top-0"> <a href="{:url('goods/index/goodsdetail',array('id'=>$item['id']))}">{$item['title']}</a> <span class="label label-success">{$item['version']}</span> </h3>
                      <p class="ad text-muted">{$item['summary']}</p>
                    </div>
                  </div>
                </div>
                {/volist} </div>
            </section>
            <div class="clearfix" style="padding:0 20px">{$page}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
{/block}
{block name="script"} 
<script src="__STATIC__/ext/foucs/foucs.js" type="text/javascript"></script> 
<script src="__STATIC__/ext/kinmaxshow/kinmaxshow.min.js"></script> 
<script type="text/javascript">
    $(function () {
        var h_s = "285px";
        $("#slide_10001").kinMaxShow({height: h_s});
        $("#slide_10001").fadeIn();
    })
</script> 
{/block} 