{extend name="common@public/base"/}

{block name="body"}
<section class="content-header">
  <h1>{$meta_title}<small></small></h1>
  <ol class="breadcrumb">
    <li><a href="{:url('admin/index/index')}"><i class="fa fa-dashboard"></i> {:lang('console')}</a></li>
        {volist name="__menu__['parent']" id="pitem"}
            <li class="{$pitem.action}">{if condition="$pitem.action eq ''"}<a href="{$pitem.url|url}" > {$pitem.title}</a>{else/} {$pitem.title}{/if}</li>
        {/volist}
  </ol>
</section>
<section class="content">
<div class="box box-solid clearfix">
	<header class="box-header clearfix">
		<div class="pull-left">
        	<a class="btn btn-warning ajax-get confirm" href="{:url('clear')}">{:lang('empty')}</a>
			<button class="btn btn-danger ajax-post confirm" target-form="ids" url="{:url('dellog')}">{:lang('delete')}</button>
		</div>
	</header>

	<div class="box-body clearfix">
		<!-- 数据列表 -->
		<table class="table table-hover">
			<thead>
				<tr>
					<th class="row-selected row-selected"><input class="check-all" type="checkbox"/></th>
					<th class="">{:lang('id')}</th>
					<th class="">{:lang('name')}</th>
					<th class="">{:lang('performer')}</th>
					<th class="">{:lang('execution_time')}</th>
					<th class="">{:lang('operation')}</th>
				</tr>
			</thead>
			<tbody>
				{volist name="list" id="vo"}
				<tr>
		            <td><input class="ids" type="checkbox" name="id[]" value="{$vo['id']}" /></td>
					<td>{$vo['id']} </td>
					<td>{:get_action($vo['action_id'],'title')}</td>
					<td>{:get_nickname($vo['user_id'])}</td>
					<td><span>{$vo.create_time}</span></td>
					<td><a href="{:url('detail?id='.$vo['id'])}" class="btn btn-default btn-sm">{:lang('detailed')}</a>
						<a class="confirm ajax-get btn btn-default btn-delete btn-sm" href="{:url('dellog?id='.$vo['id'])}">{:lang('delete')}</a>
		                </td>
				</tr>
				{/volist}
			</tbody>
		</table>
		<!-- 分页 -->
		{$page}
		<!-- /分页 -->
	</div>
</div>
</section>
{/block}