{extend name="common@public/base"/}
{block name="style"}
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/libs/bootstrap-editable.css">
{/block}
{block name="body"}
<section class="content-header">
  <h1>{$meta_title}<small></small></h1>
  <ol class="breadcrumb">
    <li><a href="{:url('admin/index/index')}"><i class="fa fa-dashboard"></i> {:lang('console')}</a></li>
        {volist name="__menu__['parent']" id="pitem"}
            <li class="{$pitem.action}">{if condition="$pitem.action eq ''"}<a href="{$pitem.url|url}" > {$pitem.title}</a>{else/} {$pitem.title}{/if}</li>
        {/volist}
  </ol>
</section>
<section class="content">
<div class="box box-solid clearfix">
	<header class="box-header clearfix">
		<div class="pull-left">
			<a class="btn btn-primary" href="{:url('add')}">{:lang('add')}</a>
			<button class="btn btn-danger ajax-post confirm" url="{:url('del')}" target-form="ids">{:lang('delete')}</button>
		</div>
	</header>
	<div class="box-body clearfix">
		<div class="table-responsive clearfix">
			<table class="table table-hover">
				<thead>
					<tr>
						<th width="30"><input class="checkbox check-all" type="checkbox"></th>
						<th width="60">{:lang('id')}</th>
						<th width="180">{:lang('name')}</th>
						<th width="140">{:lang('identifying')}</th>
						<th width="180">{:lang('creation_time')}</th>
						<th width="180">{:lang('update_time')}</th>
						<th>{:lang('operation')}</th>
					</tr>
				</thead>
				<tbody>
					{volist name="list" id="item"}
					<tr>
						<td><input class="ids row-selected" type="checkbox" name="id[]" value="{$item['id']}"></td>
						<td>{$item['id']}</td>
						<td>{$item['title']}</td>
						<td>{$item['name']}</td>
						<td>{$item['create_time']|date='Y-m-d H:i',###}</td>
						<td>{$item['update_time']|date='Y-m-d H:i',###}</td>
						<td>
							<a href="{:url('lists?id='.$item['id'])}">{:lang('List_of_ads')}</a>
							<a href="{:url('edit?id='.$item['id'])}">{:lang('edit')}</a>
							<a href="{:url('del?id='.$item['id'])}" class="confirm ajax-get">{:lang('delete')}</a>
						</td>
					</tr>
					{/volist}
				</tbody>
			</table>
			{$page}
		</div>
	</div>
</div>
</section>
{/block}
{block name="script"}
<script type="text/javascript" src="__PUBLIC__/js/bootstrap-editable.min.js"></script>
<script type="text/javascript">
$(function() {
	//点击排序
	$('.item_sort').click(function(){
		var url = $(this).attr('url');
		var ids = $('.ids:checked');
		var param = '';
		if(ids.length > 0){
			var str = new Array();
			ids.each(function(){
				str.push($(this).val());
			});
			param = str.join(',');
		}

		if(url != undefined && url != ''){
			window.location.href = url + '/ids/' + param;
		}
	});
	$.fn.editable.defaults.mode = 'popup';
	$.fn.editableform.buttons = '<button type="submit" class="btn btn-success editable-submit btn-mini"><i class="fa fa-check-square-o fa-white"></i></button>' +
	'<button type="button" class="btn editable-cancel btn-mini"><i class="fa fa-times"></i></button>';
	$('.editable').editable();
});
</script>
{/block}