<div class="col-lg-{$addons_config.width}">
	<div class="box box-solid clearfix">
		<header class="box-header clearfix">
			<div class="box-title">{:lang('our_team')}</div>
		</header>
		<div class="box-body clearfix">
			<table class="table">
				<tr>
					<th>{:lang('product_design')}</th>
					<td>{:lang('product_division')}</td>
				</tr>
				<tr>
					<th>{:lang('develop')}</th>
					<td>{:lang('rd_depart')}</td>
				</tr>
				<tr>
					<th>{:lang('user_ui')}</th>
					<td>{:lang('product_division')}</td>
				</tr>
				<tr>
					<th>{:lang('website')}</th>
					<td>{:config('systemconfig.site_url') ?: config('site_url')}</td>
				</tr>
			</table>
		</div>
	</div>
</div>