{extend name="common@public/base"/}
{block name="style"}
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/libs/bootstrap-editable.css">
{/block}
{block name="body"}
<section class="content-header">
  <h1>{$meta_title}<small></small></h1>
  <ol class="breadcrumb">
    <li><a href="{:url('admin/index/index')}"><i class="fa fa-dashboard"></i> {:lang('console')}</a></li>
        {volist name="__menu__['parent']" id="pitem"}
            <li class="{$pitem.action}">{if condition="$pitem.action eq ''"}<a href="{$pitem.url|url}" > {$pitem.title}</a>{else/} {$pitem.title}{/if}</li>
        {/volist}
  </ol>
</section>
<section class="content">
    <div class="nav-tabs-custom">
        <ul class="nav nav-tabs">
        <li class="active"><a href="javascript:" >功能导航</a></li>
        </ul>        
        <div class="tab-content">
            <div class="tab-pane active">
                <div class="">
                    <div class="box-header">
                     <div class="device_message pull-left">  
                     </div>
                    </div>
                    <div class="box-body">
                        {if condition="empty($sidenavs['rule']) && empty($sidenavs['setting']) && empty($sidenavs['entry']) && empty($sidenavs['menu'])"}
                        	<div class="null_deal">
                                <p>
                                    aOh! 当前插件没有配置参数和业务功能! 
                                </p>
                            </div>
                        {else/}
                        	{if condition="$sidenavs['rule']"}
                            <div class="page-header">
                                <h4><i class="fa fa-comments"></i>&nbsp;&nbsp;基础设置</h4>
                            </div>
                            <div class="shortcut clearfix">
                                <a href="{$sidenavs['rule']['url']}" class="btn btn-info">
                                    <span>{$sidenavs['rule']['title']}</span>
                                </a>
                            </div>
                            {/if}
                           {if condition="$sidenavs['setting']"}
                            <div class="page-header">
                                <h4><i class="fa fa-cog"></i>&nbsp;&nbsp;配置参数</h4>
                            </div>
                            <div class="shortcut clearfix">
                                {volist name="sidenavs.setting.children" id="vo"}
                                {if condition="isset($vo['title']) && isset($vo['url'])"}
                                <a href="{$vo.url}" class="btn btn-primary">
                                    <span>{$vo.title}</span>
                                </a>&nbsp;&nbsp;
                                {/if}
                                {/volist}
                            </div>
                            {/if}
                            {if condition="$sidenavs['entry']"}
                            <div class="page-header">
                                <h4><i class="fa fa-plane"></i>&nbsp;&nbsp;封面入口</h4>
                            </div>
                            <div class="shortcut clearfix">
                                {volist name="sidenavs.entry.children" id="vo"}
                                {if condition="isset($vo['title']) && isset($vo['url'])"}
                                <a href="{$vo.url}" class="btn btn-warning">
                                    <span>{$vo.title}</span>
                                </a>&nbsp;&nbsp;
                                {/if}
                                {/volist}
                            </div>
                            {/if}
                            {if condition="$sidenavs['menu']"}
                            <div class="page-header">
                                <h4><i class="fa fa-navicon"></i>&nbsp;&nbsp;业务导航</h4>
                            </div>
                            <div class="shortcut clearfix">
                                {volist name="sidenavs.menu.children" id="vo"}
                                {if condition="isset($vo['title']) && isset($vo['url'])"}
                                <a href="{$vo.url}" class="btn btn-success">
                                    <span>{$vo.title}</span>
                                </a>&nbsp;&nbsp;
                                {/if}
                                {/volist}
                            </div>
                            {/if}
                        {/if}
                    </div>
                </div>
            </div>
        </div>        
    </div>
		
</section>
{/block}
{block name="script"}

{/block}