{extend name="common@public/base"/}
{block name="style"}
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/libs/bootstrap-editable.css">
{/block}
{block name="body"}
<section class="content-header">
  <h1>{$meta_title}<small></small></h1>
  <ol class="breadcrumb">
    <li><a href="{:url('admin/index/index')}"><i class="fa fa-dashboard"></i> {:lang('console')}</a></li>
        {volist name="__menu__['parent']" id="pitem"}
            <li class="{$pitem.action}">{if condition="$pitem.action eq ''"}<a href="{$pitem.url|url}" > {$pitem.title}</a>{else/} {$pitem.title}{/if}</li>
        {/volist}
  </ol>
</section>
<section class="content">
<div class="nav-tabs-custom">
    <ul class="nav nav-tabs">
    {volist name="mpnav" id="nav"}
    <li class="{$nav.class}"><a href="{$nav.url}" >{$nav.title}</a></li>
    {/volist}
    </ul>        
    <div class="tab-content">
        <div class="tab-pane active">
            <div class="">
            	<ul class="nav nav-tabs">
                {volist name="subnav" id="subnav"}
                <li class="{$subnav.class}"><a href="{$subnav.url}" >{$subnav.title}</a></li>
                {/volist}
                </ul> 
                <div class="box-body">
                    {if condition="$tip"}
                    <div class="alert alert-info tip" role="alert">{$tip}</div>
                    {/if}     
                    <form method="post" action="" class="form-horizontal" role="form">
                        <div class="form-group">
                            <label class="col-xs-12 col-sm-3 col-md-2 control-label">页面预览</label>
                            <div class="col-sm-9">
                                <p class="form-control-static" style="white-space:nowrap; overflow:hidden; text-overflow:ellipsis;color:#08a5e0">{$entry.url}&nbsp;&nbsp;&nbsp;&nbsp;<a href="{:url('/mpaddon/'.get_addon().'/preview/'.input('act'))}" class="btn btn-success" target="_blank">预览</a></p>
                            </div>
                        </div>
            
                        <div class="form-group">
                            <label class="col-xs-12 col-sm-3 col-md-2 control-label">触发关键字</label>
                            <div class="col-sm-6 col-xs-12">
                                <input type="text" class="form-control ng-pristine ng-untouched ng-valid" name="keyword" placeholder="请输入触发关键字" value="{$entry.rule.keyword}">
                                <input type="hidden" name="rule_id" value="{$entry.rule.id}" />
                                <span class="help-block">多个关键词用英文逗号隔开</span>
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label class="col-xs-12 col-sm-3 col-md-2 control-label">封面参数</label>
                            <div class="col-sm-6">
                                <div class="panel panel-default reply-container" style="padding-top:2em;">
                                    <div ng-hide="entry.saved" class="">
                                        <div class="form-group">
                                            <label class="col-xs-12 col-sm-3 col-md-2 control-label">图文标题</label>
                                            <div class="col-sm-9 col-xs-12">
                                                <input type="text" class="form-control ng-pristine ng-untouched ng-valid" placeholder="标题" name="title" value="{$entry.title}">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-xs-12 col-sm-3 col-md-2 control-label">封面</label>
                                            <div class="col-sm-9 col-xs-12">        
                                                <div class="input-group ">
                                                    {:widget('common/Form/show',array(array('name'=>'cover','type'=>'wechatimage'),$entry))}
                                                </div>                                
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-xs-12 col-sm-3 col-md-2 control-label">描述</label>
                                            <div class="col-sm-9 col-xs-12">
                                                <textarea class="form-control ng-pristine ng-untouched ng-valid" placeholder="添加图文消息的简短描述" name="desc" rows="5">{$entry.desc}</textarea>
                                            </div>
                                        </div>
                        
                                    </div>
                                    
                                </div>
                                
                            </div>
                        </div>  

                        <div class="form-group">
                            <div class="col-sm-offset-2 col-md-1 ">
                                <input type="hidden" name="name" value="{$entry.name}" />
                                <input type="hidden" name="act" value="{$entry.act}" />
                                <input type="hidden" name="id" value="{$entry.id}" />
                                <input type="submit" value="确认提交" class="btn btn-primary  ajax-post"  target-form="form-horizontal" />
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>        
</div>
</section>
{/block}
{block name="script"}
<link rel="stylesheet" type="text/css" href="__PUBLIC__/plugs/webuploader/webuploader.css">
<script type="text/javascript" src="__PUBLIC__/plugs/webuploader/webuploader.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/plugs/webuploader/webuploader.custom.js"></script>
<script>

	//全选的实现
	$('input[type="checkbox"].gl_checkbox, input[type="radio"].gl_checkbox').iCheck({
	  checkboxClass: 'icheckbox_minimal-blue',
	  radioClass: 'iradio_minimal-blue'
	});
</script>
{/block}