{extend name="common@public/base"/}
{block name="style"}
{/block}
{block name="body"}
    <section class="content-header">
      <h1>云市场扩展自动升级<small></small> 备份完成</h1>
      <ol class="breadcrumb">
        <li><a href="{:url('admin/index/index')}"><i class="fa fa-dashboard"></i> 控制台</a></li>
            {volist name="__menu__['parent']" id="pitem"}
                <li class="{$pitem.action}">{if condition="$pitem.action eq ''"}<a href="{$pitem.url|url}" > {$pitem.title}</a>{else/} {$pitem.title}{/if}</li>
            {/volist}
      </ol>
    </section>
    <section class="content">
    <div class="box box-solid clearfix">
    <div class="box-body clearfix col-lg-12 col-md-12">
        <div class="alert alert-info">
            <p>当前的系统版本号<strong>{$currentVersion.name}</strong></p>
        </div>
        <p><strong class="text-success">1.下载更新包，获取更新文件列表 -》 2.本地文件对比 -》 3.代码升级 -》 4.数据库升级 -》 升级完成</strong></p>
        <h4>恭喜，升级成功，目前版本为 {$currentVersion.name}</h4>
        <p>如果发现升级之后出现问题，请找回备份文件，同时还原备份的数据库。</p>
        <p>{$path}/backup</p>
        <div class="row">
            <div class="col-xs-7">
                <a id="compare_btn" class="btn btn-success btn-block" href="{:url('update')}">返回自动升级首页</a>
            </div>
        </div>
    </div>
    </div>
    </section> 
{/block}
{block name="script"}
{/block}