{extend name="common@public/base"/}
{block name="style"}
{/block}
{block name="body"}
    <section class="content-header">
      <h1>{$meta_title}<small></small></h1>
      <ol class="breadcrumb">
        <li><a href="{:url('admin/index/index')}"><i class="fa fa-dashboard"></i> {:lang('console')}</a></li>
            {volist name="__menu__['parent']" id="pitem"}
                <li class="{$pitem.action}">{if condition="$pitem.action eq ''"}<a href="{$pitem.url|url}" > {$pitem.title}</a>{else/} {$pitem.title}{/if}</li>
            {/volist}
      </ol>
    </section>
    <section class="content">
    <div class="box box-solid clearfix">
    <div class="box-body clearfix col-lg-12 col-md-12">
        <div class="alert alert-info clearfix">
            <div class="pull-left">
                <p>当前远程最新版本<strong>{$version.0.title}</strong></p>
                <p>当前的系统版本号<strong>{$currentVersion}</strong></p>
            </div>
            <div class="pull-right"><a href="{:url('update',array('refresh'=>1))}" class="btn btn-danger"><i class="icon-refresh"></i> 重新检测</a></div>
        </div>
        <p class="alert alert-danger">在安装更新之前，请先<a target="" href="{:url('database/index?type=export')}">备份数据库</a>，备份网站源码，以防数据或者二次开发内容丢失。</p>
        <p class="alert alert-danger">请先到后台<a target="_blank" href="{:url('admin/config/group')}">系统设置</a>页面，关闭网站。如果不希望自动更新，请手动<strong>关闭自动更新</strong>。</p>

        <table class="table table-hover">
            <thead>
            <tr>
                <th>编号</th>
                <th>版本名</th>
                <th style="width: 100px">版本号</th>
                <th style="width: 140px">发布时间</th>
                <th style="width: 140px">更新时间</th>
                <th style="width: 100px">更新说明</th>
                <th style="width: 200px">操作</th>

            </tr>
            </thead>
            <tbody>
            {volist name="version" id="vo"}

                <tr class="{$vo.class}">
                    <td>{$vo.number}</td>
                    <td><a target="_blank" href="{$vo.url}">{$vo.title}</a>{$vo.word}</td>
                    <td><strong>{$vo.name}</strong></td>
                    <td>{$vo.create_time|friendlyDate}</td>
                    <td>{$vo.update_time|friendlyDate}</td>
                    <td><a href="{:url('Cloud/version',array('name'=>$vo['name']))}" data-toggle="modal" data-title="{$vo.title}-{$vo.name}更新日志">查看详情</a>
                    </td>
                    <td style="text-align:right">
                        {if condition="$vo[name] eq $nextVersion['name'] && $nextVersion"}
                            <a href="{:url('getFileList',array('version'=>$vo['name']))}">自动升级</a>
                        {else/}
                            {if condition="version_compare($vo['name'],$currentVersion) eq 0"}
                                <i class="fa fa-arrow-left"></i> 当前版本
                            {else/}
                                {if condition="version_compare($vo['name'],$currentVersion) eq -1"}
                                   历史版本
                                {else/}
                                   未来版本
                                {/if}
                            {/if}
                            &nbsp;|&nbsp;<a href="{:appstoreU('goods/update/download',array('number'=>$vo['number']))}" target="_blank">下载文件</a>
                        {/if}
                      </td>
                </tr>

            {/volist}
            </tbody>

        </table>

        <div style="margin-top: 10px">
            <div class="progress progress-striped active hide" style="border-radius: 3px">
                <div id="progress" class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:0"></div>
            </div>
        </div>

   
    </div>
    </div>
    </section> 
{/block}
{block name="script"}

    <script>
        function writeMessage($data) {
            $('#message').append($data);
        }
        function replaceMessage($data) {
            $('#message').children().last().remove();
            $('#message').children().last().remove();
            $('#message').append($data);
        }
        var progress = {
            'show': function () {
                $('#progress').parent().show();
            },
            'setValue': function ($value) {
                $('#progress').css('width', $value);
            },
            'hide': function () {
                $('#progress').parent().hide();
            }
        }
    </script>
{/block}