{extend name="common@public/base"/}
{block name="style"}
{/block}
{block name="body"}
    <section class="content-header">
      <h1>云市场扩展自动升级<small></small></h1>
      <ol class="breadcrumb">
        <li><a href="{:url('admin/index/index')}"><i class="fa fa-dashboard"></i> 控制台</a></li>
            {volist name="__menu__['parent']" id="pitem"}
                <li class="{$pitem.action}">{if condition="$pitem.action eq ''"}<a href="{$pitem.url|url}" > {$pitem.title}</a>{else/} {$pitem.title}{/if}</li>
            {/volist}
      </ol>
    </section>
    <section class="content">
    <div class="box box-solid clearfix">
    <div class="box-body clearfix col-lg-12 col-md-12">
    <blockquote style="font-size:14px; line-height:22px">
    <h4>版本名称：{$data.title}</h4>
    <div>版&nbsp;本&nbsp;号：{$data.name}</div>
    <div>发布时间：{$data.create_time}</div>
    <div>更新时间：{$data.update_time}</div>
    </blockquote>
	<blockquote style="font-size:14px; line-height:28px">
     <h4>更新日志</h4>
    {$log}
    </blockquote>
    </div>
    </div>
    </section> 
{/block}