{extend name="public/base"/}
{block name="style"}
{/block}
{block name="body"}
<div class="page">
  <header class="bar bar-nav">
    <a class="icon icon-left pull-left back" ></a>
    <h1 class="title">{$feed_data.type}</h1>
  </header>
  <div class="content">
    <div class="page-index">
        <div class="card" style="margin-left:0;margin-right:0">
            <div class="card-header"><strong>{$feed_data.title}</strong></div>
            {if $feed_data.cover_id}
            <div valign="bottom" class="card-header color-white no-border no-padding">
              <img class='card-cover' src="{:get_cover($feed_data.cover_id,'path')}" alt="">
            </div>
            {/if}
            <div class="card-content">
              <div class="card-content-inner">{$feed_data.content}</div>
            </div>
            <div class="card-footer">{$feed_data['create_time']|date='Y-m-d',###}</div>
        </div>
    </div>
  </div>
</div>
{/block}
{block name="script"} 
<script>
  //打开自动初始化页面的功能
  //建议不要打开自动初始化，而是自己调用 $.init 方法完成初始化
  $.config = {
    autoInit: true,
	router:false
  }
  
</script> 
{/block}