<!DOCTYPE html>
<!--[if IE 8 ]><html class="no-js oldie ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="no-js oldie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html class="no-js" lang="en"> <!--<![endif]-->
<head>

    <!--- basic page needs
    ================================================== -->
    <meta charset="utf-8">
    <title>齐信控制台</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- mobile specific metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- CSS

  ================================================== -->

    <link rel="stylesheet" href="/public/css/404/base.css">
    <link rel="stylesheet" href="/public/css/404/main.css">
    <link rel="stylesheet" href="/public/css/404/vendor.css">

    <!-- script
    ================================================== -->
    <script src="/public/js/404/modernizr.js"></script>

    <!-- favicons
     ================================================== -->
    <link rel="shortcut icon" type="image/ico" href="/favicon.ico">

</head>

<body>

<!-- header
================================================== -->
<header class="main-header">
    <div class="row">
        <div class="logo">
            <a href="{$url}">齐信科技</a>
        </div>
    </div>
</header> <!-- /header -->

<!-- navigation
================================================== -->

<!-- main content
================================================== -->
<main id="main-404-content" class="main-content-particle-js">

    <div class="content-wrap">

        <div class="shadow-overlay"></div>

        <div class="main-content">
            <div class="row">
                <div class="col-twelve">

                    <h1 class="kern-this">Error
                    <h2 id="error-msg">
                        {$msg|strip_tags}
                    </h2>
                    </h1>
                </div> <!-- /twelve -->
            </div> <!-- /row -->
        </div> <!-- /main-content -->

    </div> <!-- /content-wrap -->

</main> <!-- /main-404-content -->

<div id="">
    <div id="loader">
    </div>
</div>
<!-- Java Script
================================================== -->
<script src="/public/adminlte/plugins/jQuery/jquery-2.2.3.min.js"></script>
<script src="/public/js/404/plugins.js"></script>
<script src="/public/js/404/main.js"></script>
<script type="text/javascript">
    var href_url = '<?php echo($url);?>';
    var code_type = '<?php echo($code);?>';
    var text_content = '{$msg|strip_tags}';
    var wait = '<?php echo($wait);?>';
    $(function(){
        setTimeout(function(){
            window.location= href_url;
        },2000);
    });
</script>
</body>
</html>